@charset "UTF-8";
@font-face {
  font-family: 'gagalin';
  src: url("../../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: lighter;
  font-style: italic; }

@font-face {
  font-family: 'ubuntu';
  src: url("../../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../../fonts/ubuntu-medium-webfont") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehack';
  src: url("../../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@media screen and (max-width: 768px) {
  html {
    font-size: 15px; } }

@media screen and (max-width: 480px) {
  html {
    font-size: 13px; } }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.body-active-menu {
  overflow: hidden; }

/* class for hamburger menu add throught js*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.maincontant {
  height: 100%;
  min-height: 40.625rem; }

.container {
  position: relative;
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.31);
  min-height: 40.625rem; }
  .section_center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.section-title {
  font-family: gagalin;
  font-weight: normal;
  font-size: 4.5rem;
  color: #f9b43b;
  margin-bottom: 2.59375rem;
  line-height: .86; }
  .section-title_black {
    color: #2f3234; }
  .section-title_white {
    color: #fff;
    padding-left: 0.9375rem;
    text-align: center; }
  .section-title_center {
    text-align: center; }
  @media screen and (max-width: 480px) {
    .section-title {
      font-size: 3.125rem; } }

.btn {
  padding: 0.625rem 0.875rem;
  color: #fff;
  font-family: 'ubuntu';
  font-weight: 400;
  font-size: 0.8125rem;
  text-transform: uppercase;
  border-radius: 0.25rem;
  border: 0.0625rem solid transparent;
  background-color: #e45028;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .btn:hover {
    background-color: #c1401e; }

.cross-btn {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  width: 1.125rem;
  height: 1.125rem;
  fill: #e35028;
  cursor: pointer; }

.close-ingrediets {
  display: none; }
  @media screen and (max-width: 768px) {
    .close-ingrediets {
      display: initial; } }

.close-menu {
  display: none;
  fill: #fff; }

.hero {
  background-image: url("../img/bg-first.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.hero-container {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.main-contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .main-contant {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 10%; } }
  @media screen and (max-width: 480px) {
    .main-contant {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 10%; } }

.foto {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.foto__burger {
  width: 100%;
  padding-bottom: 6.4375rem;
  padding-left: 0.25rem;
  margin-left: 1rem; }
  @media screen and (max-width: 768px) {
    .foto__burger {
      padding-top: 3.5625rem;
      padding-bottom: 2.5rem;
      padding-left: 0;
      margin-left: 0; } }
  @media screen and (max-width: 480px) {
    .foto__burger {
      padding-bottom: 1rem;
      padding-left: 0;
      margin-left: 0; } }

.hero-desc {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-bottom: 1.25rem;
  padding-left: 1.8125rem; }
  @media screen and (max-width: 768px) {
    .hero-desc {
      padding-bottom: 0;
      padding-left: 0;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .hero-desc {
      padding-bottom: 0;
      padding-left: 0; } }

.hero-desc__title {
  margin-bottom: 1.65625rem; }
  @media screen and (max-width: 768px) {
    .hero-desc__title {
      margin-bottom: 1.46875rem;
      margin-right: 0.875rem; } }
  @media screen and (max-width: 480px) {
    .hero-desc__title {
      margin-bottom: 0rem; } }

.title__text {
  font-family: Lifehack;
  font-weight: normal;
  font-size: 4.0625rem;
  color: #fff;
  letter-spacing: -0.1rem;
  line-height: 1; }
  @media screen and (max-width: 768px) {
    .title__text {
      margin-right: 0.8125rem; } }
  @media screen and (max-width: 480px) {
    .title__text {
      font-size: 2.6875rem; } }

.scroll {
  padding-bottom: 2.4375rem;
  padding-left: 0.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .scroll {
      padding-left: 0;
      margin-right: 0.625rem;
      padding-bottom: 2.25rem; } }
  @media screen and (max-width: 480px) {
    .scroll {
      padding-bottom: 1rem; } }

.scroll__link {
  width: 12.5rem;
  height: 1.25rem;
  background-image: url("../../icons/arrow-scroll.svg");
  background-repeat: no-repeat;
  background-position: center center; }

.header {
  padding-top: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.logo__pic {
  position: relative;
  width: 100%;
  z-index: 11; }

.hero__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@media screen and (max-width: 768px) {
  .nav {
    display: none; } }

@media screen and (max-width: 480px) {
  .nav {
    display: none; } }

.nav__list {
  padding-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav__item:after {
    content: '';
    display: block;
    margin-right: 1.0625rem;
    margin-left: 1rem;
    height: 0.25rem;
    width: 0.25rem;
    background: #fff;
    border: 0.0625rem solid #fff;
    border-radius: 50%; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 0.8125rem;
  text-transform: uppercase;
  -webkit-transition: .5s;
  transition: .5s; }
  .nav__link:hover {
    text-decoration: underline; }

.btn_order {
  margin-left: 1rem;
  margin-right: -0.125rem;
  margin-top: -0.5rem; }
  @media screen and (max-width: 768px) {
    .btn_order {
      margin-right: 1.0625rem; } }

.hero-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -624.9375rem;
  bottom: 0;
  right: 0;
  background-color: #2f3234;
  opacity: 0;
  height: 0vh;
  z-index: 10; }
  .hero-overlay.hero-overlay--active {
    opacity: .99;
    height: 100vh;
    left: 0; }

.hero-overlay-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.hero-overlay-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .hero-overlay-menu__item:after {
    content: '';
    display: block;
    height: 0.375rem;
    width: 0.375rem;
    margin-top: 1.5625rem;
    margin-bottom: 1.5625rem;
    background: #fff;
    border: 0.0625rem solid #fff;
    border-radius: 50%; }
  .hero-overlay-menu__item:last-child:after {
    display: none; }

.hero-overlay-menu__link {
  font-weight: normal;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase; }

.best {
  background-image: url("../img/bg-webest.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .best__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 0; } }

.best__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  @media screen and (max-width: 480px) {
    .best__item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      margin-bottom: 3.125rem; } }

.best__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 0.375rem;
  margin-bottom: 2rem; }
  @media screen and (max-width: 480px) {
    .best__icon {
      margin-right: 1.5625rem;
      margin-bottom: 0;
      padding-right: 0;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.best__icon-img {
  width: 6.25rem;
  height: 5.3125rem; }

.best__desc {
  text-align: center; }
  @media screen and (max-width: 480px) {
    .best__desc {
      text-align: left; } }

.best__desc-title {
  margin-bottom: 0.9375rem;
  font-family: lifehack;
  font-weight: normal;
  font-size: 1.50625rem;
  color: #2f3234;
  line-height: 1.167; }

.best__desc-text {
  font-weight: lighter;
  font-style: italic;
  font-size: 0.875rem;
  color: rgba(47, 50, 52, 0.8);
  line-height: 1.71; }

.feed__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100vh;
  min-height: 40.625rem;
  width: 100%; }

.feed__item {
  position: relative;
  width: 25%;
  height: 50%; }
  @media screen and (max-width: 768px) {
    .feed__item {
      width: 50%;
      height: 25%; } }

.feed-block {
  position: relative;
  width: 100%;
  height: 100%; }
  .feed-block:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    -webkit-transition: .3s;
    transition: .3s; }
  .feed-block:hover:after {
    background: rgba(68, 69, 70, 0.7); }

.feed-block__photo {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.feed-block__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  padding: 5% 17% 0;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 10; }
  @media screen and (max-width: 768px) {
    .feed-block__overlay {
      padding: 0 10%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .feed-block__overlay:hover {
    -webkit-transform: translate(-50% -50%);
    transform: translate(-50% -50%);
    opacity: 1;
    z-index: 10; }

.feed-block__title {
  font-family: gagalin;
  font-weight: normal;
  font-size: 0.875rem;
  color: #fff;
  line-height: 2.01; }
  @media screen and (max-width: 480px) {
    .feed-block__title {
      font-size: 1.5rem;
      text-align: center;
      line-height: initial; } }

.feed-block__text {
  margin-top: 1rem;
  font-weight: lighter;
  font-size: 0.875rem;
  color: #fff;
  line-height: 1.71; }
  @media screen and (max-width: 768px) {
    .feed-block__text {
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .feed-block__text {
      display: none; } }

.btn_learn-more {
  margin-top: 1.0625rem;
  background-color: #2f3234;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  .btn_learn-more:hover {
    background-color: #1f2122; }
  @media screen and (max-width: 480px) {
    .btn_learn-more {
      display: none; } }

.btn_learn-more--hiden {
  display: none; }
  @media screen and (max-width: 480px) {
    .btn_learn-more--hiden {
      display: initial; } }

.feedbacks-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: -624.9375rem;
  bottom: 0;
  right: 0;
  background-color: #2f3234;
  opacity: 0;
  height: 0vh;
  z-index: 12;
  -webkit-transition: opacity .6s;
  transition: opacity .6s; }
  .feedbacks-overlay.feedbacks-overlay--active {
    opacity: .99;
    height: 100vh;
    left: 0; }
  .feedbacks-overlay .feedback-window {
    opacity: 1; }

.feedback-window {
  position: relative;
  width: 29.5625rem;
  padding: 1.25rem 1.875rem;
  background-color: #fff;
  border-radius: 0.3125rem;
  opacity: 0;
  -webkit-transition: opacity .6s;
  transition: opacity .6s; }
  .feedback-window h3 {
    color: #2f3234; }
  .feedback-window p {
    color: #2f3234;
    display: initial; }
  @media screen and (max-width: 480px) {
    .feedback-window {
      margin: 0 0.625rem; } }

.burger {
  background: #f9b43b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b));
  background: linear-gradient(to bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b43b', endColorstr='#f9b43b',GradientType=0 );
  /* IE6-9 */ }

.burger__scroll {
  position: absolute;
  width: 9.75rem;
  height: 1.875rem;
  top: 47%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-image: url("../../icons/arrow-scroll.svg");
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 2; }
  @media screen and (max-width: 768px) {
    .burger__scroll {
      top: 48%; } }

.burger__scroll-left {
  left: -6.25rem;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }
  @media screen and (max-width: 768px) {
    .burger__scroll-left {
      left: -3.125rem; } }
  @media screen and (max-width: 480px) {
    .burger__scroll-left {
      left: -4.125rem; } }

.burger__scroll-right {
  right: -6.8125rem;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg); }
  @media screen and (max-width: 768px) {
    .burger__scroll-right {
      right: -2.625rem; } }
  @media screen and (max-width: 480px) {
    .burger__scroll-right {
      right: -4.25rem; } }

.burger-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .burger-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 15%; } }
  @media screen and (max-width: 480px) {
    .burger-content {
      padding: 0 8%; } }

.burger-content__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  @media screen and (max-width: 768px) {
    .burger-content__elem {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.burger-content__block {
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 0.25rem; }

.burger-content__ingredients {
  position: absolute;
  top: 0.0625rem;
  left: 0.25rem;
  background-image: url("../../icons/burger.svg");
  background-repeat: no-repeat;
  background-position: center 0.9375rem;
  background-color: #f08c33;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s; }
  .burger-content__ingredients:hover {
    background-color: #c1401e;
    cursor: pointer; }
  .burger-content__ingredients:after {
    content: 'Состав';
    position: absolute;
    bottom: 0.5rem;
    right: 0;
    left: 0;
    text-align: center;
    color: #fff;
    font-family: gagalin;
    font-weight: normal;
    font-size: 0.875rem; }
    @media screen and (max-width: 480px) {
      .burger-content__ingredients:after {
        bottom: 0.125rem; } }
  @media screen and (max-width: 768px) {
    .burger-content__ingredients {
      top: -0.25rem;
      left: 8.3125rem; } }
  @media screen and (max-width: 480px) {
    .burger-content__ingredients {
      top: 0;
      left: 0; } }

.burger-content__burger {
  width: 100%;
  height: 100%;
  padding-top: 4.3125rem;
  padding-bottom: 4.3125rem; }
  @media screen and (max-width: 768px) {
    .burger-content__burger {
      padding-bottom: 2.625rem; } }

.burger-content__kkal {
  position: absolute;
  bottom: 4px;
  left: 3px;
  background-image: url("../../icons/kkal.svg");
  background-repeat: no-repeat;
  background-position: left center; }
  .burger-content__kkal:before {
    content: '1200';
    position: absolute;
    bottom: 1.25rem;
    right: 0;
    left: 0.9375rem;
    text-align: left;
    color: #fff;
    font-family: gagalin;
    font-weight: normal;
    font-size: 1.25rem; }
    @media screen and (max-width: 480px) {
      .burger-content__kkal:before {
        left: 1.25rem; } }
  .burger-content__kkal:after {
    content: 'ккал';
    position: absolute;
    bottom: -0.3125rem;
    right: 0;
    left: 0.9375rem;
    color: #fff;
    font-family: gagalin;
    font-weight: normal;
    font-size: 0.875rem; }
    @media screen and (max-width: 480px) {
      .burger-content__kkal:after {
        bottom: -0.625rem;
        left: 1.25rem; } }
  @media screen and (max-width: 768px) {
    .burger-content__kkal {
      top: -1.125rem;
      right: 7.1875rem;
      left: initial; } }
  @media screen and (max-width: 480px) {
    .burger-content__kkal {
      top: -0.25rem;
      right: 0;
      z-index: 0; } }

.ingredients-dropdown {
  position: absolute;
  width: 16.875rem;
  left: -624.375rem;
  padding: 1.25rem;
  background: #fff;
  opacity: 0;
  border-radius: 0.3125rem;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  z-index: 1; }
  .ingredients-dropdown__item {
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0.3125rem; }
    .ingredients-dropdown__item:last-child {
      margin-bottom: 0; }
  .ingredients-dropdown__cell:nth-child(3) {
    margin-left: auto; }
    @media screen and (max-width: 768px) {
      .ingredients-dropdown__cell:nth-child(3) {
        margin-right: 35px; } }
  .ingredients-dropdown__cell-pic {
    width: 2.75rem;
    height: 2.75rem; }
  .ingredients-dropdown__cell-name, .ingredients-dropdown__cell-weight {
    padding-left: 1.5rem;
    font-weight: normal;
    color: #2f3234;
    font-size: 0.875rem; }
  .ingredients-dropdown__cell-weight {
    padding-left: 0;
    font-weight: lighter; }

.ingredients-dropdown--active {
  left: 100%;
  opacity: .9; }

.burger-desc {
  margin-bottom: 1.875rem;
  padding-left: 0.9375rem; }
  .burger-desc p {
    font-weight: lighter;
    font-size: 0.875rem;
    line-height: 1.71;
    color: #fff; }
  @media screen and (max-width: 768px) {
    .burger-desc {
      text-align: center; } }

.burger-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: 7.875rem;
  padding-left: 0.9375rem; }
  @media screen and (max-width: 768px) {
    .burger-order {
      padding: 0; } }

.section-title_price {
  margin-bottom: 0;
  color: #e35028; }
  .section-title_price span {
    font-size: 1.875rem;
    margin-left: -1.0625rem;
    margin-right: 0.5625rem; }

.team {
  background-image: url("../img/team.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative; }

.team__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  padding: 0rem 5rem 0rem 3rem;
  top: 0;
  right: 0;
  bottom: 0;
  width: 49%;
  background-color: #2f3234;
  opacity: .93; }
  @media screen and (max-width: 768px) {
    .team__section {
      width: 100%;
      padding: 0rem 4.0625rem 5rem 4.0625rem;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media screen and (max-width: 480px) {
    .team__section {
      width: 100%;
      padding: 4.0625rem 2.8125rem 0rem 2.8125rem; } }

.team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: left;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .team__content {
      text-align: center; } }

.team-accordion {
  padding-top: 2.25rem;
  padding-bottom: 3.125rem;
  padding-left: 0.125rem; }

.team-accordion__item {
  margin-bottom: 1.5rem;
  padding-left: 1.125rem; }
  .team-accordion__item:last-child {
    margin-bottom: 0; }
  .team-accordion__item:active .team-accordion__trigger {
    color: #f9b43b; }
    .team-accordion__item:active .team-accordion__trigger:before {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg); }
  .team-accordion__item:hover .team-accordion__trigger {
    color: #f9b43b; }

.team-accordion__item--active .team-accordion__trigger {
  color: #f9b43b; }
  .team-accordion__item--active .team-accordion__trigger:before {
    display: none; }
  .team-accordion__item--active .team-accordion__trigger:after {
    display: initial; }

.team-accordion__item--active .team-accordion__members {
  height: 100%;
  margin-bottom: 1.875rem;
  opacity: 1;
  -webkit-transition: opacity .6s;
  transition: opacity .6s; }

.team-accordion__item--active .team-accordion__img {
  display: block; }

.team-accordion__trigger {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 0.3125rem;
  font-family: 'gagalin';
  font-weight: normal;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.875rem;
  color: #fff;
  text-decoration: none; }
  .team-accordion__trigger:before, .team-accordion__trigger:after {
    content: "";
    display: block;
    position: absolute;
    left: -1.125rem;
    top: 0.5rem;
    width: 0;
    height: 0; }
  .team-accordion__trigger:before {
    border-top: 0.4375rem solid #f9b43b;
    border-left: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
    border-bottom: 0rem solid transparent;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s;
    transition: .3s; }
  .team-accordion__trigger:after {
    display: none;
    border-bottom: 0.4375rem solid #f9b43b;
    border-left: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
    border-top: 0rem solid transparent; }
  @media screen and (max-width: 768px) {
    .team-accordion__trigger {
      font-size: 1.5625rem; }
      .team-accordion__trigger:before, .team-accordion__trigger:after {
        top: 0.875rem; } }
  @media screen and (max-width: 480px) {
    .team-accordion__trigger {
      font-size: 1.5625rem; }
      .team-accordion__trigger:before, .team-accordion__trigger:after {
        top: 0.875rem; } }

.team-accordion__members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.625rem;
  height: 0;
  opacity: 0;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  @media screen and (max-width: 768px) {
    .team-accordion__members {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-top: 0;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 19%; } }
  @media screen and (max-width: 480px) {
    .team-accordion__members {
      padding: 0; } }

.team-accordion__ava {
  width: 22%; }
  @media screen and (max-width: 768px) {
    .team-accordion__ava {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 1.5625rem; } }

.team-accordion__img {
  display: none;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.team-accordion__desc {
  width: 44%; }
  @media screen and (max-width: 768px) {
    .team-accordion__desc {
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .team-accordion__desc {
      width: 100%; } }
  .team-accordion__desc div, .team-accordion__desc p {
    margin-bottom: 0.5rem;
    font-family: 'ubuntu';
    font-weight: bold;
    font-size: 0.875rem;
    color: #fff;
    line-height: 1.7; }
  .team-accordion__desc p {
    font-family: 'ubuntu';
    font-weight: lighter; }

.menu {
  background-image: url("../img/bg-menu.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.menu__title {
  position: absolute;
  top: 3.75rem;
  left: 3.75rem; }
  @media screen and (max-width: 768px) {
    .menu__title {
      top: 7.75rem;
      left: 0.75rem; } }
  @media screen and (max-width: 480px) {
    .menu__title {
      top: 1.875rem;
      left: 1.875rem; } }

.menu-accordion {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.menu-accordion__trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 5rem;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-decoration: none; }
  @media screen and (max-width: 480px) {
    .menu-accordion__trigger {
      width: 3.4375rem; } }

.menu-accordion__trigger:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #4c4e50;
  opacity: .5; }

.menu-accordion__trigger-title {
  position: absolute;
  left: 50%;
  top: 68%;
  -webkit-transform: rotate(-90deg) translateY(-50%);
  transform: rotate(-90deg) translateY(-50%);
  margin-top: -1.25rem;
  font-family: 'gagalin';
  font-weight: normal;
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0; }
  @media screen and (max-width: 768px) {
    .menu-accordion__trigger-title {
      top: 95%; } }

.menu-accordion__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 70%;
  z-index: 1; }
  @media screen and (max-width: 768px) {
    .menu-accordion__item {
      max-width: 100%; } }
  .menu-accordion__item:active .menu-accordion__trigger-title {
    color: #f9b43b; }
  .menu-accordion__item:hover .menu-accordion__trigger-title {
    color: #f9b43b; }

.menu-accordion__content {
  height: 100%;
  background: #2f3234;
  opacity: .93;
  width: 0;
  overflow: hidden; }

.menu-accordion__text {
  font-family: 'ubuntu';
  font-weight: normal;
  font-size: 0.875rem;
  color: #fff;
  padding: 3.75rem 1.875rem;
  width: 0;
  line-height: 1.8;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s; }

@media screen and (max-width: 480px) {
  .menu-accordion__item--active {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2; } }

.menu-accordion__item--active .menu-accordion__content {
  width: 100%;
  position: relative; }

.menu-accordion__item--active .menu-accordion__text {
  width: 100%;
  opacity: 1; }

@media screen and (max-width: 480px) {
  .menu-accordion__item--active .close-menu {
    display: initial; } }

.order {
  background-image: url("../img/bg-delivery.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.order__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .order__form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 17%; } }
  @media screen and (max-width: 480px) {
    .order__form {
      padding: 0; } }

.order__form-col {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem;
  padding-left: 0.25rem; }
  @media screen and (max-width: 768px) {
    .order__form-col {
      margin-right: 0;
      padding-left: 0; } }
  @media screen and (max-width: 480px) {
    .order__form-col {
      margin-right: 0;
      padding-left: 0; } }
  .order__form-col:last-child {
    margin-right: 0; }

.order__form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .order__form-row {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.order__form-block {
  display: block;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.3125rem; }
  .order__form-block:last-child {
    margin-right: 0; }

.order__form-title {
  margin-bottom: 0.3125rem;
  font-family: 'ubuntu';
  font-weight: normal;
  font-size: 0.875rem;
  color: #fff; }

.order__form-input {
  width: 100%;
  height: 2.1875rem;
  font-size: 0.875rem;
  margin-bottom: 1.25rem;
  padding: 0.3125rem 0.6875rem;
  border: 0.0625rem solid #d1cfcb;
  border-radius: 0.25rem;
  border: none; }

.order__form-input_textarea {
  height: 7.1875rem;
  resize: none;
  margin-bottom: 0.75rem; }

.order__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-right: 1.0625rem;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .order__radio {
      margin-right: 0 1.5625rem; }
      .order__radio:last-child {
        margin-right: 0; } }

.order__radio-elem {
  position: absolute;
  top: 0;
  left: -624.9375rem; }

.order__radio-fake {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #fff;
  position: relative; }
  .order__radio-fake:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #e45028;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: width .3s, height .3s;
    transition: width .3s, height .3s; }

.order__radio-elem:checked + .order__radio-fake:after {
  width: 0.5rem;
  height: 0.5rem; }

.order__radio_checkbox {
  margin-top: 1.4375rem; }
  .order__radio_checkbox .order__radio-fake {
    border-radius: 0; }
  .order__radio_checkbox .order__radio-elem + .order__radio-fake:after {
    background: transparent; }
  .order__radio_checkbox .order__radio-elem:checked + .order__radio-fake:after {
    content: '';
    display: block;
    position: absolute;
    color: #e45028;
    width: 0.6875rem;
    height: 0.5625rem;
    margin-left: -0.375rem;
    margin-top: -0.375rem;
    border-bottom: solid 0.1875rem currentColor;
    border-left: solid 0.1875rem currentColor;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.order__radio-title {
  margin-left: 0.4375rem;
  margin-bottom: 0rem; }

.form-buttons_submit {
  margin-right: 0.375rem; }

.form-buttons_reset {
  background: transparent;
  text-transform: initial; }
  .form-buttons_reset:hover {
    background: transparent; }

.form-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 3.4375rem;
  padding-right: 2rem; }
  @media screen and (max-width: 768px) {
    .form-buttons {
      width: 100%;
      padding: 0 17% 17% 17%;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      margin-top: 1rem;
      margin-bottom: 0rem; } }
  @media screen and (max-width: 480px) {
    .form-buttons {
      padding: 0;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.modal-window {
  width: 196px;
  height: 106px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  top: 50%;
  left: -9999px;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 1, 0.5);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 1, 0.5);
  -webkit-transition: opacity .6s;
  transition: opacity .6s; }

.modal-window--active {
  left: 50%;
  opacity: 1; }

.modal-window-title {
  margin-bottom: 18px;
  font-family: 'ubuntu';
  font-weight: normal;
  font-size: 0.875rem;
  color: .modal-window-title dark; }

.map {
  width: 100%;
  height: 100vh; }

.footer {
  width: 100%;
  background-image: url("../../img/bg-map.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

.container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .container__footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.footer__elem {
  width: 50%; }
  @media screen and (max-width: 480px) {
    .footer__elem {
      text-align: center;
      width: 100%; } }

.footer__address {
  padding-bottom: 0.375rem;
  padding-left: 0.125rem;
  padding-top: 0.4375rem;
  color: #fff;
  font-size: 0.875rem; }

.footer__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #e45028;
  font-family: 'ubuntu';
  font-weight: bold;
  text-decoration: none;
  font-size: 0.875rem;
  padding-bottom: 0.4375rem;
  padding-left: 0.3125rem; }
  @media screen and (max-width: 480px) {
    .footer__phone {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .footer__phone:before {
    content: '';
    display: block;
    width: 0.6875rem;
    height: 0.6875rem;
    margin-right: 0.5rem;
    background-image: url("../../icons/phone.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }

.footer__elem-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media screen and (max-width: 480px) {
    .footer__elem-right {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -0.25rem;
  margin-top: 0.1875rem; }

.socials__item {
  margin-right: 1.1875rem; }
  .socials__item:last-child {
    margin-right: 0; }

.socials__link-icon {
  width: 1.3125rem;
  height: 1.25rem;
  fill: #585858; }
  .socials__link-icon:hover {
    fill: #fff; }

.pagination {
  display: none;
  position: fixed;
  right: 1.875rem;
  top: 4.375rem; }
  @media screen and (max-width: 768px) {
    .pagination {
      display: none; } }
  @media screen and (max-width: 480px) {
    .pagination {
      display: none; } }

.pagination__item {
  position: relative;
  height: 1rem;
  width: 1rem;
  margin-bottom: 0.9375rem; }

.pagination__link:before {
  content: '';
  position: absolute;
  height: 1rem;
  width: 1rem;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 0.1875rem;
  background-color: #fff; }

.pagination__link:after {
  content: '';
  position: absolute;
  top: -0.3125rem;
  left: -0.3125rem;
  width: 1rem;
  height: 1rem;
  border: 0.0625rem solid #fff;
  border-radius: 50%;
  background-color: transparent;
  opacity: 0; }

.pagination__link:hover:after {
  opacity: 1; }

.pagination__item_active:after {
  content: '';
  position: absolute;
  top: -0.3125rem;
  left: -0.3125rem;
  width: 1rem;
  height: 1rem;
  border: 0.0625rem solid #fff;
  border-radius: 50%;
  background-color: transparent; }

.onepage-pagination {
  position: fixed;
  right: 1.875rem;
  top: 4.375rem; }
  @media screen and (max-width: 768px) {
    .onepage-pagination {
      display: none; } }
  @media screen and (max-width: 480px) {
    .onepage-pagination {
      display: none; } }

.onepage-pagination li a {
  height: 1rem;
  width: 1rem;
  margin-bottom: 0.9375rem;
  padding: 0; }

.onepage-pagination li a:before {
  content: '';
  position: absolute;
  height: 1rem;
  width: 1rem;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 0.1875rem;
  background-color: #fff; }

.onepage-pagination li a.active:before {
  width: 1rem;
  height: 1rem;
  background: none;
  border: 0.0625rem solid #fff;
  margin-top: -0.3125rem;
  left: 0.21875rem;
  border-radius: 50%; }

.hamburger-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: start;
  align-self: flex-start;
  position: relative;
  height: 1.375rem;
  margin-left: 0.875rem;
  margin-right: 1rem;
  display: none;
  z-index: 11; }
  .hamburger-menu.hamburger-menu--active .hamburger-menu__item:before {
    -webkit-transform: translateY(0.5rem) translateX(-1px) rotate(45deg);
    transform: translateY(0.5rem) translateX(-1px) rotate(45deg); }
  .hamburger-menu.hamburger-menu--active .hamburger-menu__item {
    background-color: transparent; }
  .hamburger-menu.hamburger-menu--active .hamburger-menu__item:after {
    -webkit-transform: translateY(-0.5625rem) translateX(-1px) rotate(-45deg);
    transform: translateY(-0.5625rem) translateX(-1px) rotate(-45deg); }
  @media screen and (max-width: 768px) {
    .hamburger-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  @media screen and (max-width: 480px) {
    .hamburger-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.hamburger-menu__item, .hamburger-menu__item:before, .hamburger-menu__item:after {
  background-color: #fff;
  width: 1.5rem;
  height: 0.3125rem;
  border-radius: 0.1875rem; }

.hamburger-menu__item:before, .hamburger-menu__item:after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background-color: #fff; }

.hamburger-menu__item:before {
  top: 0; }

.hamburger-menu__item:after {
  bottom: 0; }

/*# sourceMappingURL=main.css.map */