.best {
    background-image: url('../img/bg-webest.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.best__list {
  display: flex;
  margin-bottom: rem(77px);
  
  @include phones {
      flex-direction: column;
      margin-bottom: 0;
  }
}

.best__item {
    display: flex;
    flex-direction: column;
    flex: 1;

    @include phones {
        flex-direction: row;
        margin-bottom: rem(50px);
    }
}

.best__icon {
    display: flex;
    justify-content: center;
    padding-right: rem(6px);
    margin-bottom: rem(32px);

    @include phones {
        margin-right: rem(25px);
        margin-bottom: 0;
        padding-right: 0;
        align-items: center;
    }
}

.best__icon-img {
    width: rem(100px);
    height: rem(85px);
  }

.best__desc {
    text-align: center;

    @include phones {
        text-align: left;
    }
}

.best__desc-title {
    margin-bottom: rem(15px);
    font-family: lifehack;
    font-weight: normal;
    font-size: rem(24.1px);
    color: $dark;
    line-height: 1.167;
    // text-align: center;
}

.best__desc-text {
    font-weight: lighter;
    font-style: italic;
    font-size: rem(14px);
    color: rgba(47, 50, 52, 0.8);
    line-height: 1.71;
    // text-align: center;
}