.burger {
background: rgb(249,180,59); /* Old browsers */
background: -moz-linear-gradient(top, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgb(249,180,59) 0%,rgb(235,140,56) 48%,rgb(249,180,59) 74%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgb(249,180,59) 0%,rgb(235,140,56) 48%,rgb(249,180,59) 74%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b43b', endColorstr='#f9b43b',GradientType=0 ); /* IE6-9 */
}

.burger__scroll {
  position: absolute;
  width: rem(156px);
  height: rem(30px);
  top: 47%;
  transform: translateY(-50%);
  background-image: url('../../icons/arrow-scroll.svg');
  background-position: center center;
  background-repeat: no-repeat;

  @include tablets {
    top: 48%;
  }
}
  .burger__scroll-left {
    left: rem(-100px);
    transform: rotate(90deg);

    @include tablets {
      left: rem(-50px);
    }

    @include phones {
      left: rem(-66px);
    }
  }

  .burger__scroll-right {
    right: rem(-109px);
    transform: rotate(-90deg);

    @include tablets {
      right: rem(-42px);
    }

    @include phones {
      right: rem(-68px);
    }
  }


.burger-content {
  display: flex;

  @include tablets {
    flex-direction: column;
    align-items: center;
    padding: 0 15%;
  }

  @include phones {
    padding: 0;
  }
}

.burger-content__elem {
  display: flex;
  flex-direction: column;
  flex: 1;

  @include tablets {
    align-items: center;
  }
}

.burger-content__block {
  width: rem(90px);
  height: rem(90px);
  border-radius: rem(4px);
}

.burger-content__ingredients {
  position: absolute;
  top: rem(1px);
  left: rem(4px);
  background-image: url('../../icons/burger.svg');
  background-repeat: no-repeat;
  background-position: center rem(15px);
  background-color: #f08c33;
  transition: background-color 0.4s;

  &:hover {
    background-color: $dark-red;
    cursor: pointer;
  }

  // &:hover .ingredients-dropdown {
  //   left: 100%;
  //   opacity: .9;
  // }

  &:after {
    content: 'Состав';
    position: absolute;
    bottom: rem(8px);
    right: 0;
    left: 0;
    text-align: center;
    color: #fff;
    font-family: gagalin;
    font-weight: normal;
    font-size: rem(14px);
  }

  @include tablets {
    top: rem(-4px);
    left: rem(133px);
  }

  @include phones {
    top: 0;
    left: 0;
  }
}

.burger-content__burger {
  width: 100%;
  height: 100%;
  padding-top: rem(69px);
  padding-bottom: rem(69px);

  @include tablets {
    padding-bottom: rem(42px);
  }
}

.burger-content__kkal {
  position: absolute;  
  bottom: 4px;
  left: 3px;
  background-image: url('../../icons/kkal.svg');
  background-repeat: no-repeat;
  background-position: left center; 

  &:before {
    content: '1200';
    position: absolute;
    bottom: rem(20px);
    right: 0;
    left: rem(15px);
    text-align: left;
    color: #fff;
    font-family: gagalin;
    font-weight: normal;
    font-size: rem(20px);
  }

  &:after {
    content: 'ккал';
    position: absolute;
    bottom: rem(-5px);
    right: 0;
    left: rem(15px);
    color: #fff;
    font-family: gagalin;
    font-weight: normal;
    font-size: rem(14px);
  }

  @include tablets {
    top: rem(-18px);
    right: rem(115px);
    left: initial;
  }

  @include phones {
    top: rem(-4px);
    right: 0;
    z-index: 0;
  }
}

.ingredients-dropdown {
  position: absolute;
  width: rem(270px);
  left: rem(-9990px);
  padding: rem(20px);
  background: #fff;
  opacity: 0;
  border-radius: rem(5px);
  transition: opacity 0.4s;
  z-index: 1;

  &__item {
    height: 44px;
    display: flex;
    align-items: center;
    margin-bottom: rem(5px);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__cell {  
   &:nth-child(3) {
    margin-left: auto;

    @include tablets {
      margin-right: 35px;
      }
    }
  }
  
  &__cell-pic {
    width: rem(44px);
    height: rem(44px);
  }

  &__cell-name, &__cell-weight{
    padding-left: rem(24px);
    font-weight: normal;
    color: $dark;
    font-size: rem(14px);
  }

  &__cell-weight {
    padding-left: 0;
    font-weight: lighter;
  }
}

.ingredients-dropdown--active {
  left: 100%;
  opacity: .9;
}

.burger-desc {
  margin-bottom: rem(30px);
  padding-left: rem(15px);

  & p {
    font-weight: lighter;
    font-size: rem(14px);
    line-height: 1.71;
    color: #fff;
  }

  @include tablets {
    text-align: center;
  }
}



.burger-order {
  display: flex;
  align-items: flex-end;
  padding-bottom: rem(126px);
  padding-left: rem(15px);

  @include tablets {
    padding: 0;
  }
}

.section-title_price {
  margin-bottom: 0;
  color: $price;
  
& span {
  font-size: rem(30px);
  margin-left: rem(-17px);
  margin-right: rem(9px);
  }
} 

