.feedbacks-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: rem(-9999px);
  bottom: 0;
  right: 0;
  background-color: $dark;
  opacity: 0;
  height: 0vh;
  z-index: 12;
  transition: opacity .3s height .3s;

  &.feedbacks-overlay--active {
    opacity: .99;
    height: 100vh;
    left: 0;
  }
}

.feedback-window {
  position: relative;
  width: rem(473px);
  padding: rem(20px) rem(30px);
  background-color: #fff;
  border-radius: rem(5px);

  & h3 {
    color: $dark;
  }

  & p {
    color: $dark;
    display: initial;
  }

  @include phones {
    margin: 0 rem(10px);
  }

}