.footer {  
  width: 100%;
  background-image: url('../../img/bg-map.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.container__footer {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include phones {
    flex-direction: column;
  }
}

.footer__elem {
  width: 50%;

  @include phones {
    text-align: center;
    width: 100%;
  }
}

.footer__address {
  padding-bottom: rem(6px);
  padding-left: rem(2px);
  padding-top: rem(7px);
  color: #fff;
  font-size: rem(14px);
}

.footer__phone {
  display: flex;
  align-items: center;
  color: $red;
  font-family: 'ubuntu';
  font-weight: bold;
  text-decoration: none;
  font-size: rem(14px);
  padding-bottom: rem(7px);
  padding-left: rem(5px);

  @include phones {
    justify-content: center;
  }

  &:before {
    content: '';
    display: block;
    width: rem(11px);
    height: rem(11px);
    margin-right: rem(8px);
    background-image: url('../../icons/phone.svg');
    @include bg-cover;
  }
}

.footer__elem-right {
  display: flex;
  justify-content: flex-end;

  @include phones {
    justify-content: center;
  }
}

.socials__list {
  display: flex;
  margin-right: rem(-4px);
  margin-top: rem(3px);
}

.socials__item {
  margin-right: rem(19px);

  &:last-child {
    margin-right: 0;
  }
}

.socials__link-icon {
  width: rem(21px);
  height: rem(20px);
  fill: #585858;

  &:hover {
    fill: #fff;
  }
}