.header {
  padding-top: rem(12px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__pic {
  width: 100%;
}

.hero__btns {
  display: flex;
  align-items: center;
}

.nav {
  @include tablets {
    display: none;
  }

  @include phones {
    display: none;
  }
}

.nav__list {
  padding-bottom: rem(8px);
  display: flex;
}

.nav__item {
  display: flex;
  align-items: center;

  &:after {
      content: '';
      display: block;
      margin-right: rem(17px);
      margin-left: rem(16px);
      height: rem(4px);
      width: rem(4px);
      background: #fff;
      border: rem(1px) solid #fff;
      border-radius: 50%;
  }

  &:last-child:after {
      display: none;
  }
}

.nav__link {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: rem(13px);
  text-transform: uppercase;
  -webkit-transition: .5s;
  transition: .5s;
  
  &:hover {
    text-decoration: underline;
  }
}

.btn_order {
  margin-left: rem(16px);
  margin-right: rem(-2px);
  margin-top: rem(-8px);
}