.hero-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $dark;
  opacity: 0;
  height: 0vh;
  z-index: 10;

  &.hero-overlay--active {
    opacity: .99;
    height: 100vh;
  }
}

.hero-overlay-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-overlay-menu__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:after {
    content: '';
    display: block;
    height: rem(6px);
    width: rem(6px);
    margin-top: rem(25px);
    margin-bottom: rem(25px);
    background: #fff;
    border: rem(1px) solid #fff;
    border-radius: 50%;
}

&:last-child:after {
    display: none;
  }
}

.hero-overlay-menu__link {
  font-weight: normal;
  font-size: rem(24px);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

