.hero {
  background-image: url('../img/bg-first.jpg');
  @include bg-cover;
  display: flex;
  flex-direction: column;
}

.hero-container {
  flex: 1;
}

.main-contant {
  display: flex;
  flex: 1;
  align-items: center;

  @include tablets {
    flex-direction: column;
    padding: 0 5%;
  }

  @include phones {
    flex-direction: column;
    padding: 0 5%;
  }
}

.foto {
  flex: 1;
}

.foto__burger {
  width: 100%;
  padding-bottom: rem(103px);
  padding-left: rem(20px);

  @include tablets {
    padding-bottom: rem(40px);
    padding-left: 0;
  }

  @include phones {
    padding-bottom: rem(16px); 
    padding-left: 0; 
  }
}

.hero-desc {
  flex: 1;
  padding-bottom: rem(20px);
  padding-left: rem(13px);

  @include tablets {
    padding-bottom: 0;
    padding-left: 0;
    text-align: center;
  }

  @include phones {
    padding-bottom: 0;
    padding-left: 0; 
  }
}

.hero-desc__title {
  margin-bottom: rem(26.5px);

  @include phones {
    margin-bottom: rem(0px);
  }
}

.title__text {
  font-family: Lifehack;
	font-weight: normal;
	font-size: rem(65px);
	color: #fff;
  letter-spacing: rem(-1.6px);
  line-height: 1;

  @include phones {
    font-size: rem(43px);
  }
}

.scroll {
  padding-bottom: rem(39px);
  padding-left: rem(6px);
  display: flex;
  justify-content: center;

  @include phones {
    padding-bottom: rem(16px);
  }
}

.scroll__link {
  width: rem(200px);
  height: rem(20px);
  background-image: url('../../icons/arrow-scroll.svg');
  background-repeat: no-repeat;
  background-position: center center;
}