.menu {
  background-image: url('../img/bg-menu.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
}

.menu__title {
  position: absolute;
  top: 10%;
  left: 10%;
}