.menu {
  background-image: url('../img/bg-menu.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
}

.menu__title {
  position: absolute;
  top: rem(60px);
  left: rem(60px);

  @include tablets {
    top: rem(124px);
    left: rem(12px);
  }
  @include phones {
    top: rem(30px);
    left: rem(30px);
  }
}