.modal-window {
  width: 196px;
  height: 106px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: -9999px;
  opacity: 0;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 1, 0.5);
  transition: opacity .6s;
}

.modal-window--active {
      left: 50%;
      opacity: 1;
    }
  


.modal-window-title {
  margin-bottom: 18px;
  font-family: 'ubuntu';
  font-weight: normal;
  font-size: rem(14px);
  color: &dark;
}