.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.maincontant {
  height: 100%;
  min-height: rem(650px);
}

.container {
position: relative;
width: 95%;
max-width: 940px;
margin: 0 auto;
display: flex;
flex-direction: column;
}

.section {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.31);
  min-height: rem(650px);

  &_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.section-title {
  font-family: gagalin;
	font-weight: normal;
  font-size: rem(72px);
  color: $yellow;
  margin-bottom: rem(41.5px);
  line-height: .86;

  &_black {
    color: $dark;
  }

  &_white {
    color: #fff;
    padding-left: rem(15px);
    text-align: center;
  }

  &_center {
    text-align: center;
  }

  @include phones {
    font-size: rem(50px);
  }
}

.btn {
  padding: rem(10px) rem(14px);  
  color: #fff;
  font-family: 'ubuntu';
  font-weight: 400;
  font-size: rem(13px);
  text-transform: uppercase;
  border-radius: rem(4px);
  border: rem(1px) solid transparent;
  background-color: $red;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;

  &:hover {
    background-color: $dark-red;
  }
}